@import 'bootstrap.min.css';

:root {
  --white: #fff;
  --red: red;
}

body,
html {
  height: 100vh;
  overflow: hidden;
  background-color: var(--white);
}

#app {
  /*color: red !important;*/
}

/* router transition animation */
.v-enter-active, .v-leave-active {
  transition: opacity .25s;
}
.v-enter, .v-leave-to {
  opacity: 0;
}
